<section>
    <h2>Listing Articles</h2>
    <div>    
        <table class="table table-striped">
            <thead class="thead-dark">
                <th hidden>ID</th>
                <th>Marque</th>
                <th>Categorie</th>
                <th>Price</th>
                <th></th>
            </thead>
            <tbody>
                <tr *ngFor="let article of articles" data-link="" data-target="">
                    <td hidden>{{ article.id }}</td>
                    <td><a href="articles/{{ article.id }}">{{ article.marque }}</a></td>
                    <td>{{ article.category }}</td>
                    <td>{{ article.price }} €</td>
                    <td>
                        <i class="bi bi-bag"></i>
                        <a href="articles/{{ article.id }}/edit"><i class="bi bi-pencil"></i></a>
                        <a href="articles/{{ article.id }}/delete"><i class="bi bi-trash"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>