.login-card {
    border: 1px solid black;
    border-radius: 5em;
    margin: auto;
    padding: 5em;

    height: 100%;
    width: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-card form {
    display: block;
    justify-content: center;
}

input {
    width: 100%;
    margin: auto;
    margin: 1em;
}

input.submit {
    width: 10em;
    height: 3em;
    font-size: large;
    background-color: purple;
    color: white;
    border-radius: 5em;
}

input.submit:hover {
    background-color: white;
    color: purple;
}