<section class="login-card">
    <h2>Connect to your account</h2>
    <form #userCredential="ngForm" (ngSubmit)="onSubmit()">
        <input type="text" placeholder="username" name="username" ngModel>
        <input type="text" placeholder="password" name="password" ngModel>
        <input type="submit" class="submit" value="Login">
    </form>
    <p>Dont have an account ? <a href="/login/register">Register here</a></p>
</section>