header {    
    background-color: white;
    padding: 0%;
}

header h1 {
    color: black;
    font-family: 'Jim Nightshade', cursive;
    padding: 0%;
}

header img {
    height: 10vh;
    margin: 0 1em;
}

header button svg {
    fill: purple;
    position: absolute;
    margin-left: 70%;
    padding: 2px;
}
