<div *ngIf="isConnected; then connected_status_true else connected_status_false"></div>
<ng-template #connected_status_true>
        <div class="d-flex justify-content-between">
            <a href="/login/detail"><i class="bi bi-person-circle fa-3x"></i></a>
            <a href="/login/panier"><i class="bi bi-bag-check fa-3x"></i></a>
            <a href="/login/out"><i class="bi bi-box-arrow-right fa-3x"></i></a>
        </div>
</ng-template>
<ng-template #connected_status_false>
    <div class="d-flex justify-content-center">
        <a href="/login/connect"><i class="bi bi-box-arrow-left fa-3x"></i></a>
    </div>
</ng-template>