section {
    width: 50%;
    margin: auto;
}

form {
    display: flex;
    flex-direction: column;
    margin: 1em;
}

form div {
    margin: 1em 0;
}

form button {
    width: 100px;
    border-radius: 5em;
    color: white;
    background-color: purple;
}