<section>
    <h2>Ajout Article</h2>
    <div>
        <form #userPost="ngForm" (ngSubmit)="onSubmit(userPost.value)">
            <div class="row">Marque    <input type="text"   name="marque"   ngModel></div>
            <div class="row">Categorie <input type="number" name="category" ngModel></div>
            <div class="row">Price   <input type="number" name="price"    ngModel></div>
            <div class="row"><button type="submit">Envoyer</button></div>
        </form>
    </div>
</section>