<section>
    <h2>Register</h2>

    <form action="/login/register">
       Nom<input id="name" type="text">
       Prenom<input id="name" type="text">
       Age<input id="name" type="text">
       Mot de passe<input id="name" type="text">
       Pseudo<input id="name" type="text">
    </form>
</section>