<!--Navbar-->
<nav class="navbar navbar-expand-lg bg-light">    
  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
      <a class="nav-link" aria-current="page" href="/">Home</a>
    </li>
    <!-- Catergorie 1 -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        ordinateur
      </a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" routerLink="/articles">PC Portable</a></li>
        <li><a class="dropdown-item" routerLink="/articles">PC de Bureau</a></li>
        <li class="dropdown-divider"></li>
        <li><a class="dropdown-item" routerLink="/articles">Accessoires</a></li>
      </ul>
    </li>
    <!-- Catergorie 2 -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        téléphone
      </a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Smartphone</a></li>
        <li><a class="dropdown-item" href="#">Tel. Fixe</a></li>
        <li class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Accessoires</a></li>
      </ul>
    </li>
    <!-- Catergorie 3 -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        stockage
      </a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Disque dur</a></li>
        <li><a class="dropdown-item" href="#">Clé USB</a></li>
        <li class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Accessoires</a></li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">contact</a>
    </li>
  </ul>
</nav>

  <!--
  <a>HOME</a>
  <button mat-button [matMenuTriggerFor]="menu">ORDINATEURS</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>PC Portable</button>
    <button mat-menu-item>PC de Bureau</button>
    <button mat-menu-item>Accessoires</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="menu">Téléphonies</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Smart Phone</button>
    <button mat-menu-item>Tel. Fixe</button>
    <button mat-menu-item>Accessoires</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="menu">Stockage</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Disque dur</button>
    <button mat-menu-item>Clé USB</button>
    <button mat-menu-item>Accessoires</button>
  </mat-menu>
  <a>CONTACT</a>
  -->
   
