nav {
    background-color: purple;
}

nav ul.navbar-nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    
}

nav ul.navbar-nav a {
    font-size: x-large;
    color: black;
    text-transform: uppercase;
}

nav ul.navbar-nav .dropdown-menu a {
    font-size: large;
}