app-header {
    position: fixed;
    top: 0;
    left: 0;
    height: 10vh;
    width: 100vw;
    z-index: 100;
    overflow: hidden;
}

app-navbar {
    position: fixed;
    top: 10vh;
    left: 0;
    height: 10vh;
    width: 100vw;
    z-index: 100;
}

main {
    position: absolute;
    top: 20vh;
    left: 0;
    height: 70vh;
    width: 100vw;
    overflow: auto;
    padding: 2em;
}

app-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 10vh;
    width: 100vw;
    z-index: 100;
    overflow: hidden;
}

/* SECTION */
section {
  margin: 1em;  
}

/* ELEMENTS BOOTSTRAP */
.col, .row {
    margin: 0em;
    padding: 0em;
}

/* CODE A REFACTORER */ 
/*

#carouselExampleControls{
    width: 90%;
    margin: auto;
   
}
.carousel-item img{
    width: 80%;
    height: 50%;
}

header h1
{
    color: #AAA;
    font-size: 35px;
    font-weight: lighter;
    margin-bottom: 5px;
}

header span
{
    color: #222;
}

div.container
{
    font-family: Raleway;

	padding: 1em ;
	text-align: center;
}

div.container a
{
    color: #FFF;
    text-decoration: none;
    font: 20px Raleway;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

.grey
{
    background: #232323;
}

div.topBotomBordersOut a:before, div.topBotomBordersOut a:after
{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #FFF;
    content: "";
    opacity: 0;
    transition: all 0.3s;
}

div.topBotomBordersOut a:before
{
    top: 0px;
    transform: translateY(10px);
}

div.topBotomBordersOut a:after
{
    bottom: 0px;
    transform: translateY(-10px);
}

div.topBotomBordersOut a:hover:before, div.topBotomBordersOut a:hover:after
{
    opacity: 1;
    transform: translateY(0px);
}

div.topBotomBordersIn a:before, div.topBotomBordersIn a:after
{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #FFF;
    content: "";
    opacity: 0;
    transition: all 0.3s;
}

div.topBotomBordersIn a:before
{
    top: 0px;
    transform: translateY(-10px);
}

div.topBotomBordersIn a:after
{
    bottom: 0px;
    transform: translateY(10px);
}

div.topBotomBordersIn a:hover:before, div.topBotomBordersIn a:hover:after
{
    opacity: 1;
    transform: translateY(0px);
}

.card img {
    width: 100%;
    height: 60%;
} 
*/