/* You can add global styles to this file, and also import other style files */
html,body {
    font-family: Raleway;
    background-color: white;
    margin: 0% !important;
    padding: 0% !important;    
}