   <!-- Carousel -->
   <section>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="assets/images/slide2.jpg" class="d-block w-100" alt="">
        </div>
        <div class="carousel-item">
            <img src="assets/images/slide1.jpg" class="d-block w-100" alt="">
        </div>
        <div class="carousel-item">
            <img src="assets/images/slide3.jpg" class="d-block w-100" alt="">
        </div>
        <div class="carousel-item">
            <img src="assets/images/slide4.jpg" class="d-block w-100" alt="">
        </div>
        </div
        >
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>

<!-- Cards -->
    <div class="container mt-4">
        <h1 class="mb-4">Nouveautés !</h1>
        <div class="row">
          <div class="col-md-4" *ngFor="let i of [1, 2, 3, 4, 5, 6]">
            <div class="card mb-4">
              <img src="assets/images/blue.jpg" class="card-img-top" alt="Article">
              <div class="card-body">
                <h5 class="card-title">Article</h5>
                <p class="card-text">Description de l'article.</p>
                <p class="card-text">
                  <strong>Prix :</strong> 0 €
                </p>
                <a class="btn btn-primary">Ajouter au panier</a>
              </div>
            </div>
          </div>
        </div>

        <h1 class="mb-4"> INSPIRATION !</h1>
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
              <div class="card">
                <img src="assets/images/black.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Vous aimez prendre des photos ?</h5>
                  <p class="card-text"> On a ce qu'il vout fait ! </p>
                </div>
              </div>
            </div>
            <div class="col">
                <div class="card">
                  <img src="assets/images/black.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Vous aimez prendre des photos ?</h5>
                    <p class="card-text"> On a ce qu'il vout fait ! </p>
                  </div>
                </div>
              </div>
            <div class="col">
              <div class="card">
                <img src="assets/images/macfixe.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Besoin d'un ordinateur chez vous ?</h5>
                  <p class="card-text"> On vous propose ce magnifique MAC !</p>
                </div>
              </div>
            </div>
            <div class="col">
                <div class="card">
                  <img src="assets/images/macfixe.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Besoin d'un ordinateur chez vous ?</h5>
                    <p class="card-text"> On vous propose ce magnifique MAC !</p>
                  </div>
                </div>
              </div>
             
          </div>